*.egg-info
.*.swp
.*.swo
*.pyc
build
dist
.tox
.coverage
htmlcov
six-*.egg/
*.orig
.idea/
*.iml
set_*

bak
research
venv
venv3
cache
node_modules/

supercars-service.iml
report.xml
howto.txt
set_*
.ipynb_checkpoints/